<div class="container">
    <ul class="film-list">
        <li class="film-item">
            <img class="film-img" src="../images/Rectangle1.jpg" alt="" />
            <h3 class="film-title">GREYHOUND</h3>
            <div class="film-text-box">
                <p class="film-text">Drama, Action</p>
                <p class="film-text-date">2020</p>
                <p class="film-text-rating">8.0</p>
            </div>
        </li>
        <li class="film-item">
            <img class="film-img" src="../images/Rectangle2.jpg" alt="" />
            <h3 class="film-title">MONSTER HUNTER</h3>
            <div class="film-text-box">
                <p class="film-text">Drama, Action</p>
                <p class="film-text-date">2020</p>
                <p class="film-text-rating">5.0</p>
            </div>
        </li>
        <li class="film-item">
            <img class="film-img" src="../images/Rectangle3.jpg" alt="" />
            <h3 class="film-title">ONCE UPON A TIME... IN HOLLYWOOD</h3>
            <div class="film-text-box">
                <p class="film-text">Drama, Comedy</p>
                <p class="film-text-date">2019</p>
                <p class="film-text-rating">8.0</p>
            </div>
        </li>
    </ul>
</div>
{{!-- js-cards --}}
{{!-- <div class="container">
    <h2 class="title-hidden">Films</h2>
    <ul class="film-list">
        {{#each this}}
        <li class="film-item">
            <img class="film-img" src="{{poster_path}}" alt="{{title}}">
            <h3 class="film-title">{{original_title}}</h3>
            <div>
                <p class="film-text">{{this.genre_ids}}</p>
                <p class="film-text-date">{{release_date}}</p>
                {{#if myLibrary}}
                <p class="film-text-rating">{{vote_average}}</p>
                {{/if}}
            </div>
        </li>
        {{/each}}
    </ul>
</div> --}}